<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div id="app">
    <template v-if="flag">
        <p>asdad</p>
        <p>asdad</p>
        <p>asdad</p>
    </template>
</div>


<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
    var vm = new Vue({
        el: "#app",
        data: {
            message: "Hola mundo",
            flag: true
        },
    });
</script>
</body>
</html>